

    h1{
       color: #521101d8; 
       text-align: center;
    }

    .text h4{
        color: #1d0600d8;
        margin-top: 5%;
    }

    .footer{
        margin-top:120px;
    }

    .link a{
        text-decoration: none;
        margin-top: 10px;
        color: #c52f0ad8
    }
    
    .link a:hover{
        color: #ff3b0ad8;
    }

    img{
        float:right;
         margin:15px; 
         width:680px; 
         height:440px
    }